![Title](cisco.png)

## Lab - Cómo trabajar con python y SQLite

### Part 1: Cree la base de datos
Emplearemos SQLite para la conexión a la base de datos. SQLite es una biblioteca que implementa un motor de base de datos SQL transaccional autónomo que elimina la necesidad de un servidor SQL. Una utilidad simple de SQLite llamada sqlite3 se puede instalar en Raspberry Pi. SQLite simplifica considerablemente el proceso de la base de datos SQL. También utilizaremos cvskit, un conjunto de herramientas diseñadas para convertir diversas bases de datos al formato .csv (valores separados por comas).

##### Step 1: Configure el entorno de trabajo.

###### a) Install SQLite.

`#apt-get update` #Actualiza y sincroniza la lista de paquetes de Pi con el servidor repositorio, asegura que se utilicen las versiones más recientes de los paquetes.

`#apt-get -y install sqlite3` #Instala sqlite3, un paquete de SQLite para Pi#apt-get -y install sqlite3 #Instala sqlite3, un paquete de SQLite para Pi.

`# pip install csvkit`

##### Step 2: Trabajo con SQLite.

Considere la siguiente tabla, que contiene información acerca de 8 personas, en filas y columnas.
<table>
<tr><td>ID</td><td>Name</td><td>Gender</td><td>Race</td><td>Force Sensitive</td></tr>
<tr><td>001</td><td>Han</td><td>Male</td><td>Human</td><td>No</td></tr>
<tr><td>002</td><td>Leia</td><td>Female</td><td>Human</td><td>Yes</td></tr>
<tr><td>003</td><td>Luke</td><td>Male</td><td>Human</td><td>Yes</td></tr>
<tr><td>004</td><td>Obi-Wan</td><td>Male</td><td>Human</td><td>Yes</td></tr>
<tr><td>005</td><td>Anakin</td><td>Male</td><td>Human</td><td>Yes</td></tr>
<tr><td>006</td><td>Jabba</td><td>Male</td><td>Hutt</td><td>No</td></tr>
<tr><td>007</td><td>Greedo</td><td>Male</td><td>Rodian</td><td>No</td></tr>
<tr><td>008</td><td>R2D2</td><td>N/A</td><td>Droid</td><td>No</td></tr>
<tr><td>009</td><td>C3PO</td><td>N/A</td><td>Droid</td><td>No</td></tr>
</table><br>

Vamos a trabajar en el directorio /home/pi/notebooks/myfiles. Para cambiar a ese directorio, utilice el comando cd, 
`#cd myfile`

Utilizamos `sqlite3` para crear una nueva base de datos SQLite denominada `phonebook.db`. 
`# sqlite3 phonebook.db`<br>

La utilidad `sqlite` muestra información de la versión y presenta su propmpt, sqlite> . Este prompt indica que la base de datos phonebook.db se creó correctamente y sqlite3 está listo para ejecutar los comandos SQL en ella.

Crea un tabla en la base de datos denominada coworkers, tendrá 3 columnas: workid (números enteros), nombre y título (20 caracteres varchar)

`sqlite> create table coworkers(workid integer,name varchar(20),title varchar(20),number integer);`

Una misma base de datos puede contener múltiples tablas.
Creamosde manera similar la tabla department que contiene 3 campos.

`sqlite> create table department(deptid integer,name varchar(20),number integer);`<br>
`sqlite> .quit` #El "." antes del comando quit se utilizan para cambiar el formato de entrega de consultas, o ejecutar determinadas declaraciones de pedido armadas previamente.

Utilice el comando `ls` para enumerar el archivo que contiene la base de datos `phonebook.db` y sus tablas. Utilice elswitch `-l` para mostrar el formato largo de listas que permite ver los permisos, la propiedad, tamaño, y la fecha y hora del archivo.<br>

`# ls -l phonebook.db`<br>
`-rw-r--r-- 1 root root 3072 Feb  7 01:29 phonebook.db`

### Part 2: ingrese los datos y consulte la base de datos

##### Step 1: Ingrese los datos en la base de datos

Seleccionamos la base de datos phonebook.db. <br>

`# sqlite3 phonebook.db`<br><br>
Agregamos una entrada a la tabla de coworkers <br>

`sqlite> insert into coworkers values(101,'Han Solo','Bounty Hunter',5556667578);`<br>

Este comando no funciona bien, otra opción es importar un archivo .csv directamente a la base de datos, así la estructura de la tabla se crea según la estructura del archivo.<br>

a) Seleccione y copie el texto en el tablero.<br>

workid,name,title,number<br>
101,Han Solo,Bounty Hunter,5556667578<br>
102,Leia Skywalker,Princess,5556542398<br>
103,Luke Skywalker,Jedi,5558963267<br>
104,Obi-Wan Kenobi,Jedi,5558963276<br>
105,Anakin Skywalker,Sith Lord,5553477621<br>
106,Jabba The Hutt,Gangster,5556613456<br>
107,Greedo,Debt Collector,5552360918<br>
108,R2D2,Astro Droid,5555210125<br>
109,C3PO,Protocol Droid,5556633345<br>

b) En el terminal de PI, comience <b>nano</b>. Nano es un editor de texto donde podemos crear un nuevo archivo de texto llamado coworkers.csv<br>

`# nano coworkers.csv`

c) Pegue el texto copiado en la ventana de nano.

d) Cuando se haya pegado el texto a coworkers.csv y se hayan eliminado las líneas vacías, presiona CONTROL+X para salir de nano.

e) Presiona 'Y' (Yes) para salvar el archivo.

f) Para consultar el contenido del archivo CSV, utilice el comando `cat`: (Ya de nuevo en el terminal)

`# cat coworkers.csv`

También puedes crear el archivo csv automáticamente a través de la computadora portátil de Jupyter.

In [ ]:
!test -e coworkers.csv && rm coworkers.csv
!echo "workid,name,title,number" >> /home/pi/notebooks/myfiles/coworkers.csv
!echo "101,Han Solo,Bounty Hunter,5556667578" >> /home/pi/notebooks/myfiles/coworkers.csv
!echo "102,Leia Skywalker,Princess,5556542398" >> /home/pi/notebooks/myfiles/coworkers.csv
!echo "103,Luke Skywalker,Jedi,5558963267" >> /home/pi/notebooks/myfiles/coworkers.csv
!echo "104,Obi-Wan Kenobi,Jedi,5558963276" >> /home/pi/notebooks/myfiles/coworkers.csv
!echo "105,Anakin Skywalker,Sith Lord,5553477621" >> /home/pi/notebooks/myfiles/coworkers.csv
!echo "106,Jabba The Hutt,Gangster,5556613456" >> /home/pi/notebooks/myfiles/coworkers.csv
!echo "107,Greedo,Debt Collector,5552360918" >> /home/pi/notebooks/myfiles/coworkers.csv
!echo "108,R2D2,Astro Droid,5555210125" >> /home/pi/notebooks/myfiles/coworkers.csv
!echo "109,C3PO,Protocol Droid,5556633345" >> /home/pi/notebooks/myfiles/coworkers.csv

###### Step 2: Importe los datos en la base de datos.
Eliminamos la tabla coworkers de la base de datos.<br>

En el terminal ingresamos<br>
`# sqlite3 phonebook.db`

`sqlite>.tables`<br> #Enumera todas las tablas contenidas en la base de datos (coworkers department)<br>
`sqlite> drop table coworkers;`<br> #El comando drop elimina la tabla coworkers.<br>

Ejecutamos nuevamente el comando .tables para comprobar que se ha eliminado la tabla<br>
`sqlite>.tables`<br>
`department`<br>
`sqlite>.quit`<br>

Utilizamos la utilidad `csvsql` para crear una nueva tabla y recuperar los datos contenidos en el archivo coworkers.csv.<br>

`# csvsql --db sqlite:////home/pi/notebooks/myfiles/phonebook.db --insert /home/pi/notebooks/myfiles/coworkers.csv`<br>
 
`# sqlite3 phonebook.db
`sqlite>.tables`<br>
`coworkers department`<br>

La tabla coworkers está nuevamente en la base de datos.<br>

###### Step 3: Consulte la base de datos

Seleccionamos phonebook.db:<br>
`# sqlite3 phonebook.db
sqlite>`

Listamos el contenido de la table <b>coworkers</b>:<br><br>
`sqlite> select * from coworkers;
101|Han Solo|Bounty Hunter|5556667578
102|Leia Skywalker|Princess|5556542398
103|Luke Skywalker|Jedi|5558963267
104|Obi-Wan Kenobi|Jedi|5558963276
105|Anakin Skywalker|Sith Lord|5553477621
106|Jabba The Hutt|Gangster|5556613456
107|Greedo|Debt Collector|5552360918
108|R2D2|Astro Droid|5555210125
109|C3PO|Protocol Droid|5556633345
sqlite>`

Para mostrar los nombres de las entradas con el cargo de Jedi por ejemplo:<br><br>
`sqlite> select name from coworkers where title='Jedi';
Luke Skywalker
Obi-Wan Kenobi
sqlite>
`

### Part 3: Automatice el proceso con Python

Usaremos Python para conectarnos a la base de datos y ejecutar algunas consultas.

##### Step 1: Importar los módulos.

In [15]:
import sqlite3  #Esta es una librería para hablar con la base de datos.
import pandas as pd # this is a library for data visualization
from matplotlib import pyplot as plt
%matplotlib inline

##### Step 2: Conectando a la base de datos.
El objeto de Python <b>sqlite3</b> tiene un método <b>connect()</b> que facilita la conexión con la base de datos. <br>

Now that the connection to the database is established and its details are stored and accessible via `conn`variable, we need a way to navigate through the database. In this case, we will use another method of the `sqlite3` object called `cursor()`. Acticng as a moveable pointer inside the database, a cursor is a control structure that will enable us to navigate through tables and records. The cursor is important because it specifies what cell (table, column, and row) is to be read from or written to. To create the cursor, call the method `cursor()` in an established database connection. Since we stored the details of the connection to the phonebook database in the `conn` variable, use that variable to create a cursor, as follows:<br>

`conn.cursor()`

Use another variable to store the details of the newly created cursor object. The line of code below stores the details of the cursor in the `cur` variable:
 
`cur = conn.cursor()`

Below is the full Python program so far:<br>

In [23]:
sqlite3.connect('/home/pi/notebooks/myfiles/phonebook.db')
conn = sqlite3.connect('/home/pi/notebooks/myfiles/phonebook.db')

Esta función regresa la conexión, que se almacena en una variable llamada `conn`, para que sea más sencillo volver si fuese necesario.

Ahora utilizaremos otro método del objeto sqlite3 denominado `cursor()` para navegar por la base de datos. Utilizado como puntero deslizable en la base de datos, un cursor es una estructura de control que nos permitirá navegar por las tablas y los registros. El cursor es importante porque especifica en qué celda (tabla, columna y fila) se leerá o escribirá contenido.

In [24]:
cur = conn.cursor()

##### Step 3: Ejecuta una consulta.

Para ejecutar consultas en la base de datos, utilice el método `execute()`. Escrito como método del objeto de cursor, este método toma, como entrada, una cadena que contiene la consulta que nos interesa.<br>

In [25]:
query = "SELECT * FROM coworkers;"
cur.execute(query)

Los resultados se almacenan en el objeto <b>cur</b>.Para visualizar los resultados, debemos iterar a través del objeto <b>cur</b> e imprimir cada fila.

In [29]:
for row in cur:
    print(row)

<font size='0.5'>&copy; 2017 Cisco and/or its affiliates. All rights reserved. This document is Cisco Public.<font>